@media (min-width: 450px) {
    .projectTile {
        z-index: 1;
        position: relative;
        margin: 0px 20px;
        padding: 20px;
        width: 30%;
        text-align: center;
        /* border-width: 2px;
        border-color: black;
        border-style: solid; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
        border-radius: 20px;
        transition: 0.5s;
        height: 12vh;
        overflow: hidden;
    }
    
}

@media (max-width: 449px) {
    .projectTile {
        z-index: 1;
        position: relative;
        margin: 20px 20px;
        padding: 20px;
        width: 80%;
        text-align: center;
        /* border-width: 2px;
        border-color: black;
        border-style: solid; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        transition: 0.5s;
        height: 17vh;
        overflow: hidden;
    }
}

.projectTileActive {
    height: 80vh;
    overflow-y: scroll;
}

.projectTile:hover {
    cursor: pointer;
    background-color: #e8e9ea;
}

.projectTitle {
    font-size: 25px;
    font-weight: 500;
}

.projectToolContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
}

.projectTool {
    font-size: 20px;
    color: darkblue;
    align-self: center;
}

.projectToolLogo {
    width: 40px;
    height: 40px;
    margin-top: -5px;
    margin-right: 10px;
}

.previewContainer .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.previewContainer .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appPreviewScreenshots {
    /* height: 45vh; */
    height: auto;
    width: 15vw;
    margin: 30px 20px;
    min-width: 200px;
}

.emulatorScreenshot {
    border-radius: 27px;
}

.webPreviewScreenshots {
    height: 22vh;
    width: 22vw;
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 200px;
}

.descriptionContainer {
    text-align: left;
    padding: 10px 30px;
    animation: fadein 2s;
}

.descriptionTitle {
    font-size: 3vh;
    font-weight: 500;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.promptContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expandPrompt {
    color: gray;
    position: absolute;
    bottom: 10px;
}

.expandPromptExpanded {
    color: gray;
    position: relative;
}